# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.ruff_cache/
.pytest_cache/
.venv/
backend/data

# Node
node_modules/
dist/
build/
.npm/
.yarn/

# Editors
.DS_Store
*.swp
.idea/
.vscode/

# Environment
.env
.env.*

